body {
	align-items: center;
	background-color: #e0dede;

}

#stuff {
	margin: auto;	
	width: 800px;
}

button {
	position: relative;
    bottom: 18px;
    padding: 5px;
    height: 40px;
    width: 160px;
    outline: none;
    border: 1.2px solid #000;
    border-radius: 12px;
    background-color: #999999;
    transition: background-color 0.7s;
}

button:hover {
    border:1.2px solid #a33535;
    background-color: #e0dede;
    cursor: pointer;
   /*color: #fff;*/
}

button:active {
    background-color: blue;
}